---
Language: Cpp
BasedOnStyle: Mozilla
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Allman
ColumnLimit: 0
Cpp11BracedListStyle: true
SortIncludes: false
IndentWidth: 2
UseTab: Never
